* {
    box-sizing: border-box;
}

i {
    opacity: .4;
}

html,
body {
    height: 100vh;
    height: 100dvh;
}

body {
    margin: 0;
    background-color: #282828;
    color: #cccccc;
    font-family: sans-serif;
}

tfoot {
    position: sticky;
    bottom: 0;
}

.table-wrapper {
    width: 100%;
    height: calc(100% - 52px);
    overflow: auto;
}

tr:nth-child(odd) {
    background-color: #2d2d2d;
}

input {
    background-color: #2e2e2e;
    border-color: #454545;
    color: #cccccc;
    width: 80px;
}

thead {
    position: sticky;
    top: 0;
    background-color: #222222;
    z-index: 10;
}

thead > tr,
tfoot > tr {
    background-color: #222222 !important;
}

#controls {
    padding: 15px;
    background-color: #222;
}

label {
    font-weight: bold;
    margin-left: 15px;
}

table {
    width: 100%;
    border-spacing: 0;
}

td {
    padding: 15px;
    text-align: left;
    border: 1px solid #333333;
    min-width: 100px;
}

td:first-child {
    font-weight: bold;
    width: 52px !important;
    min-width: 52px !important;
    background-color: #222222;
    position: sticky;
    left: 0;
    z-index: 9;
}

button {
    background-color: #2e2e2e;
    border-color: #454545;
    color: #cccccc;
}

td.highest {
    background-color: #ff00ff30;
    border-color: #ff00ff30;
}

td.lowest {
    background-color: #00ffff30;
    border-color: #00ffff30;
}
