body {
    margin: 0;
    background-color: #282828;
    color: #cccccc;
    font-family: sans-serif;
}

tr:nth-child(odd) {
    background-color: #2d2d2d;
}

input {
    background-color: #2e2e2e;
    border-color: #454545;
    color: #cccccc;
}

thead {
    position: sticky;
    top: -1px;
    background-color: #222222;
    box-shadow: 0 1px 0 -1px #3e3e3e;
}

thead > tr,
tfoot > tr {
    background-color: #222222 !important;
}

#controls {
    padding: 15px;
    background-color: #222;
}

label {
    font-weight: bold;
}

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

td {
    padding: 15px;
    text-align: left;
    border: 1px solid #3e3e3e;
}

td:first-child {
    font-weight: bold;
    width: 52px;
    background-color: #222222;
}

button {
    background-color: #2e2e2e;
    border-color: #454545;
    color: #cccccc;
}